<!DOCTYPE html>
<html lang="py-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de VUE.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <h3>Champions League 2020</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" @click="criarNovoJogo">Novo Jogo</button>
            </div>
        </div>
        <div>   
        </div>
        <input type="text" class="form-control" v-model="novoJogo.casa.gols">
        {{novoJogo.casa.time ? novoJogo.casa.time.nome: ''}}
        <input type="text" class="form-control" v-model="novoJogo.fora.gols">
        {{novoJogo.fora.time ? novoJogo.fora.time.nome: ''}}
        <button class="btn btn-primary" @click="showAlert">Fim de Jogo</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Pontos</th>
                <th>GM</th>
                <th>GS</th>
                <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="time in times">
                    <td>
                        <img :src="time.escudo" alt="">
                        {{time.nome}}
                    </td>
                    <td>
                        {{time.pontos}}
                    </td>
                    <td>
                        {{time.gm}}
                    </td>
                    <td>
                        {{time.gs}}
                    </td>
                    <td>
                        {{time.sg}}
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

        <!-- versão de desenvolvimento, inclui avisos úteis no console  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  

<script>
    class Time {
        constructor(nome, escudo) {
            this.nome = nome;
            this.escudo = escudo;
            this.pontos = 0;
            this.gm = 0;
            this.gs = 0;
            this.sg = 0;
        }
    }

    new Vue({
        el: "#app",
        data: {
            gols: '3',
            times: [
                new Time('Real Madrid'),
                new Time('Barcelona'),
                new Time('Juventos'),
                new Time('PSG')
            ],
            novoJogo: {
                casa: {
                    time: null,
                    gols: 0
                },
                fora: {
                    time: null,
                    gols: 0
                }
            }
        },
        methods: {
            showAlert(){
                alert('Fim de jogo!')
            },
            criarNovoJogo(){
                var indiceCasa = Math.floor(Math.random()*4),
                    indiceFora = Math.floor(Math.random()*4)

                this.novoJogo.casa.time = this.times[indiceCasa];
                this.novoJogo.casa.gols = 0;
                this.novoJogo.fora.time = this.times[indiceFora];
                this.novoJogo.fora.gols = 0;

            }
        }
    })

</script>
</body>
</html>