<!DOCTYPE html>
<html lang="py-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de VUE.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <h3>Champions League 2020</h3>
        </div>
        <div>
            
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Pontos</th>
                <th>GM</th>
                <th>GS</th>
                <th>Saldo</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="time in times">
                    <td>
                        <img :src="time.escudo" alt="">
                        {{time.nome}}
                    </td>
                    <td>
                        {{time.pontos}}
                    </td>
                    <td>
                        {{time.gm}}
                    </td>
                    <td>
                        {{time.gs}}
                    </td>
                    <td>
                        {{time.sg}}
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="text" v-model="gols"> {{gols}}
        <button class="btn btn-primary" @click="showAlert">Fim de Jogo</button>
    </div>

        <!-- versão de desenvolvimento, inclui avisos úteis no console  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  

<script>
    class Time {
        constructor(nome, escudo) {
            this.nome = nome;
            this.escudo = escudo;
            this.pontos = 0;
            this.gm = 0;
            this.gs = 0;
            this.sg = 0;
        }
    }

    new Vue({
        el: "#app",
        data: {
            gols: '3',
            times: [
                new Time('Real Madrid'),
                new Time('Barcelona'),
                new Time('Juventos'),
                new Time('PSG')
            ]
        },
        methods: {
            showAlert(){
                alert('Fim de jogo!')
            }
        }
    })

</script>
</body>
</html>